In [27]:
import numpy as np
import pandas as pd
import os

In [28]:
df = pd.read_csv("../2021/old_allplayers.csv")
df.tail()

                   Player  FPTS Position  Price
769     Las Vegas Raiders  65.0      dst    0.0
770       Atlanta Falcons  65.0      dst    0.0
771  Jacksonville Jaguars  64.0      dst    0.0
772         New York Jets  58.0      dst    0.0
773         Detroit Lions  58.0      dst    0.0

In [29]:
# make the "Player" column the index, without including "Player" in the index
df = df.set_index('Player').rename_axis(None)

In [32]:
# make a Value column that is FPTS divided by 18 truncated to 2 decimal places
df['Value'] = df['FPTS']/18

In [33]:
df.head()

                     FPTS Position  Price      Value
Josh Allen          417.7       qb   3.18  23.205556
Justin Herbert      395.6       qb   3.01  21.977778
Tom Brady           386.7       qb   2.94  21.483333
Patrick Mahomes II  374.2       qb   2.84  20.788889
Matthew Stafford    346.8       qb   2.63  19.266667

In [34]:
# export to ../2021/allplayers.csv
df.to_csv("../2021/player_list.csv")

In [35]:
print(df.index)

Index(['Josh Allen', 'Justin Herbert', 'Tom Brady', 'Patrick Mahomes II',
       'Matthew Stafford', 'Aaron Rodgers', 'Dak Prescott', 'Joe Burrow',
       'Jalen Hurts', 'Kyler Murray',
       ...
       'Carolina Panthers', 'Houston Texans', 'New York Giants',
       'Baltimore Ravens', 'Los Angeles Chargers', 'Las Vegas Raiders',
       'Atlanta Falcons', 'Jacksonville Jaguars', 'New York Jets',
       'Detroit Lions'],
      dtype='object', length=774)