In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
old_qb = pd.read_csv('../old_qb.csv')
old_wr = pd.read_csv('../old_wr.csv')
old_rb = pd.read_csv('../old_rb.csv')
old_te = pd.read_csv('../old_te.csv')
old_def = pd.read_csv('../old_def.csv')
old_k = pd.read_csv('../old_k.csv')

In [5]:
# drop all columsn except Player and FPTS
old_qb = old_qb[['Player', 'FPTS']]
old_wr = old_wr[['Player', 'FPTS']]
old_rb = old_rb[['Player', 'FPTS']]
old_te = old_te[['Player', 'FPTS']]
old_def = old_def[['Player', 'FPTS']]
old_k = old_k[['Player', 'FPTS']]

                    Player   FPTS
0         Josh Allen (BUF)  417.7
1     Justin Herbert (LAC)  395.6
2           Tom Brady (FA)  386.7
3  Patrick Mahomes II (KC)  374.2
4   Matthew Stafford (LAR)  346.8

In [ ]:
# export to file called old_qb_cleaned.csv
old_qb.to_csv('../old_qb_cleaned.csv', index=False)